@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
    background-color: ghostwhite;
}

img {
    object-fit: cover;
}

#imgLogo{
    font-family: 'Tangerine';
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-bg {
    width: 100%;
    height: auto;
    opacity: 0.2;
    filter: blur(5px);
}

.carousel-indicators {
    position: absolute;
    bottom: 0%;   
}

.carousel-inner img {
    width: 20%;
    height: 20%;
    margin-top: 2rem;  
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 120%;   
    color: #540000;
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    font-family:'tangerine', sans-serif;
    /*text-shadow: 1px 1px 15px #000;*/
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.btn-primary {
    background-color: #6648b1;
    border: 1px solid #6648b1;
}

.btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
    font-size: 200%;
    font-weight: 500;  
    width:100%;
    color: brown;
    position: center;
    text-shadow: 1px 1px 10px orange;
    padding-bottom: 1rem;
}

.jumbotronKit {
    padding: 1rem;
    border-radius: 0;
    font-size: 200%;
    font-weight: 500;
    color: brown;
    position: center;
    padding-bottom: 1rem;
}

.overlay {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
    /*height:100%;
    width:100%;*/
}

.promo{
    font-family:'Lobster', cursive;
}

.responsive {
    width: 100%;
    height: auto;
}

.jumbotron-default {
    margin-top: 50px;
    width: 100%;
}
.padding {
    padding-bottom: 2rem;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.card {
    width: 100%;
    min-height: 520px;
    margin-bottom: -80px;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    background: #FFF;
}
.card:hover {
        box-shadow: 0px 2px 5px -1px #000;
        -moz-box-shadow: 0px 2px 5px -1px #000;
        -webkit-box-shadow: 0px 2px 5px -1px #000;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        border-bottom: 2px solid #52A1D5;
    }
.post-img-content {
    height: 196px;
    position: relative;
}

    .post-img-content img {
        position: absolute;
        padding: 1px;
        border-radius: 10px 10px 0 0;
    }

.post-title {
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}

    .post-title b {
        background-color: #ff597d;
        display: inline-block;
        margin-bottom: 5px;
        margin-left: 2px;
        color: #FFF;
        padding: 0;
        margin-top: 10px;
        font-size: 25px;
        padding-right: 8px;
        padding-left: 8px;
        box-shadow: 2px 2px 20px #ff597d;
    }

        .post-title b:first-child {
            font-size: 14px;
        }


.card-img-top {
    width: 50%;
    height: 50%;
    margin-top: 2rem;
    padding-bottom: 20px;
}

.col-item {
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    background: #FFF;
    min-height: 540px;       
}

    .col-item:hover {
        box-shadow: 0px 2px 5px -1px #000;
        -moz-box-shadow: 0px 2px 5px -1px #000;
        -webkit-box-shadow: 0px 2px 5px -1px #000;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        border-bottom: 2px solid #52A1D5;
    }

    .col-item .photo img {
        margin: 0 auto;
        width: 100%;
        padding: 1px;
        border-radius: 10px 10px 0 0;
    }

    .col-item .info {
        padding: 10px;
        border-radius: 0 0 5px 5px;
        margin-top: 1px;
    }

    .col-item .price {
        /*width: 50%;*/
        float: left;
        margin-top: 5px;
    }

        .col-item .price h5 {
            line-height: 20px;
        }

.price-text-color {
    color: #219FD1;
}

.disctprice-text-color {
    color: red;
}

.col-item .info .rating {
    color: #777;
}

.col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator {
    border-top: 1px solid #E1E1E1;
}

.clear-left {
    clear: left;
}

.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

    .col-item .separator p i {
        margin-right: 5px;
    }

.col-item .btn-add {
    width: 50%;
    float: left;
}

.col-item .btn-add {
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.controls {
    margin-top: 20px;
}

[data-slide="prev"] {
    margin-right: 10px;
}



/*-----Media Queries ---*/
@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }

    .carousel-caption h1 {
        font-size: 350%;
    }

    .carosel-caption h2 {
        font-size: 120%;
        font-family: 'Baskerville Old Face';
        color: dodgerblue;
    }

    .carousel-caption h3 {
        font-size: 140%;
    }

    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }

    .display-4 {
        font-size: 200%;
    }

}

@media (max-width: 576px) {
    .carousel-caption {
        top: 40%;
    }

        .carousel-caption h1 {
            font-size: 250%;
        }
    .carosel-caption h2 {
        font-size: 120%;
        font-family: 'Baskerville Old Face';
        color: dodgerblue;
    }

        .carousel-caption h3 {
            font-size: 110%;
        }

        .carousel-caption .btn {
            font-size: 90%;
            padding: 4px 8px;
        }

    .carousel-indicators {
        display: none;
    }

    .display-4 {
        font-size: 160%;
    }
        
   
}


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/*.owl-carousel.owl-loaded {
    display: inline-block;
}

.img-wrap {
    background-size: cover;
    background-position: bottom;
    height: 300px;
    width: 300px;

    img{visibility:hidden;}
}*/